@import url(reset.css);

html, body{width:100vw;height:100vh;overflow:hidden}
.wrapper{width:100vw;height:100vh;background:url(../images/bg.jpg) no-repeat center / cover}

.warning{width:100vw;height:100vh;background-color:#222;text-align:center;font-size:24px;color:#fff;position:fixed;top:0;left:0;bottom:0;right:0;line-height:100vh;z-index:999;display:none}

/* intro */

.intro{width:100%;height:100%;position:relative;font:24em 'Astronaut'}

.text_line{font-size:.5em}

.intro svg{position:absolute;width:100%;height:100%;opacity:0.8}

.text_copy{fill:none;stroke:#fff;stroke-dasharray: 7% 28%;stroke-width: 1px;-webkit-animation:stroke-offset 5s ease;animation:stroke-offset 4s ease}

.text_copy:nth-child(1){stroke:#fff;stroke-dashoffset:7%}
.text_copy:nth-child(2){stroke:#fff;stroke-dashoffset:14%}
.text_copy:nth-child(3){stroke:#fff;stroke-dashoffset:21%}
.text_copy:nth-child(4){stroke:#fff;stroke-dashoffset:28%}
.text_copy:nth-child(5){stroke:#fff;stroke-dashoffset:35%}

@-webkit-keyframes stroke-offset {
  0%{}
  100% {
    stroke-dashoffset:35%;
    stroke-dasharray:0 87.5%;
  }
}

@keyframes stroke-offset {
  100% {transform:translateZ(12px);filter:blur(0);opacity:1}
  0%{stroke-dashoffset:35%;stroke-dasharray:0 87.5%;letter-spacing:1em;transform:translateZ(300px);filter:blur(12px);opacity:0;}
}

/* header */

.header{width:22vw;height:100%;position:fixed;top:0;left:0;z-index:3;padding-top:18vh;display:none}

.header:after{content:'';position:absolute;width:200%;height:100%;opacity:1;left:-100%;top:0;transform:skewX(-15deg);background-color:#000;opacity:.5;z-index:-1;}

.gnb{width:100%;}
.gnb a{display:block;color:#fff;font-size:3.1vw;margin-bottom:2.3vw;padding-left:5.5vw;position:relative;height:2.7vw;line-height:2.7vw}
.gnb a.on{color:#6809fb}
.gnb a:after{content:'';position:absolute;top:50%;left:0;background-color:#6809fb;width:0;height:2px;margin-top:-1px;transition:width .5s ease}
.gnb a.on:after{width:4.5vw}

.gnb a:hover span{animation:text_bounce 1s ease;display:inline-block;color:#6809fb;transition:color .5s ease}
.gnb a:hover span:nth-of-type(2){animation-delay:.05s}
.gnb a:hover span:nth-of-type(3){animation-delay:.1s}
.gnb a:hover span:nth-of-type(4){animation-delay:.15s}
.gnb a:hover span:nth-of-type(5){animation-delay:.2s}
.gnb a:hover span:nth-of-type(6){animation-delay:.25s}
.gnb a:hover span:nth-of-type(7){animation-delay:.3s}
.gnb a:hover span:nth-of-type(8){animation-delay:.35s}
.gnb a:hover span:nth-of-type(9){animation-delay:.4s}

@keyframes text_bounce {
  0%{ transform:translate(0);color:#fff}
  25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg)}
  50%{ transform:translateY(-20px) rotate(3deg) scale(1.1)} 
  100%{ transform:translate(0);color:#6809fb}
}

/* profile */

.profile{width:100%;height:30%;position:absolute;top:50%;right:0;padding-left:calc(27vw);transform:translateY(-50%);display:none}

.notebook{float:left;width:27vw;height:30vw;background:url(../images/notebook.svg) no-repeat 0 0 / contain;display:block;animation:notebook_ani 5s linear infinite alternate}

@keyframes notebook_ani {
  0%{transform:rotate(0deg) translate(0px,0)}
  25%{transform:rotate(0deg) translate(10px,30px)}
  50%{transform:rotate(0deg) translate(0px,0px)}
  75%{transform:rotate(0deg) translate(-10px,30px)}
  100%{transform:rotate(0deg) translate(0px,0)}
}

.profile_cont{float:right;color:#fff;font-family:'NanumSquare';padding-right:10%}

.name{font-size:4.7vw}
.name_kr{font-size:1.9vw;margin-left:1.2vw}

.cont_list{margin-top:3.4vw;font-weight:100}
.cont_list li{font-size:2.3vw;padding-left:4.1vw;background:url(../images/git_icon.svg) no-repeat 0 0 / contain;height:2.7vw;line-height:2.7vw;margin-bottom:2vw;opacity:.7;transition:opacity .5s ease}
.cont_list li:nth-of-type(2){background:url(../images/email_icon.svg) no-repeat 0 0 / contain}
.cont_list li:nth-of-type(3){background:url(../images/like_icon.svg) no-repeat 0 0 / contain}
.cont_list li a{color:#fff}
.cont_list li:hover{opacity:1}

/* skill */

.skill{width:100%;height:100%;position:absolute;top:50%;right:0;padding-left:30vw;transform:translateY(-50%);display:none}

.skill_list{color:rgba(255, 255, 255, 0.801);font-family:'NanumSqaure';position:absolute;top:50%;right:5vw;padding-left:30vw;transform:translateY(-50%)}
.skill_cont{height:7vw;margin-bottom:5vh;max-height:80px}
.skill_cont *{vertical-align:middle}
.skill_name{font-size:0;width:7vw;height:7vw;display:inline-block;border-radius:50%;position:relative;box-shadow:3px 3px 3px rgba(0, 0, 0, 0.1);max-width:80px;max-height:80px}
.skill_dsc{font-size:1.2vw;display:inline-block;margin-left:1.3vw;line-height:1.8;animation: skill_dsc_ani 2s ease}

.skill_cont:nth-of-type(1) .skill_name{background:url(../images/html.svg) no-repeat 0 0 / cover}
.skill_cont:nth-of-type(2) .skill_name{background:url(../images/css.svg) no-repeat 0 0 / cover}
.skill_cont:nth-of-type(3) .skill_name{background:url(../images/js.svg) no-repeat 0 0 / cover}
.skill_cont:nth-of-type(4) .skill_name{background:url(../images/ps.svg) no-repeat 0 0 / cover}
.skill_cont:nth-of-type(5) .skill_name{background:url(../images/ai.svg) no-repeat 0 0 / cover}

.skill_name:after{content:'';position:absolute;top:0;right:1px;background-color:#fff;height:100%;width:30vw;z-index:-1;border-radius:3.9vw;opacity:.2;box-shadow:3px 3px 3px rgba(0, 0, 0)}

.skill_cont:nth-of-type(1) .skill_name:after{width:calc(60vw - 300px);animation:skill_1 4s ease}
.skill_cont:nth-of-type(2) .skill_name:after{width:calc(57vw - 300px);animation:skill_2 4s ease}
.skill_cont:nth-of-type(3) .skill_name:after{width:calc(40vw - 300px);animation:skill_3 4s ease}
.skill_cont:nth-of-type(4) .skill_name:after{width:calc(63vw - 300px);animation:skill_4 4s ease}
.skill_cont:nth-of-type(5) .skill_name:after{width:calc(60vw - 300px);animation:skill_5 4s ease}

@keyframes skill_1 {
  0%{width:0;opacity:0}
  100%{width:calc(60vw - 300px);opacity:.2}
}

@keyframes skill_2 {
  0%{width:0;opacity:0}
  100%{width:calc(57vw - 300px);opacity:.2}
}

@keyframes skill_3 {
  0%{width:0;opacity:0}
  100%{width:calc(40vw - 300px);opacity:.2}
}

@keyframes skill_4 {
  0%{width:0;opacity:0}
  100%{width:calc(63vw - 300px);opacity:.2}
}

@keyframes skill_5 {
  0%{width:0;opacity:0}
  100%{width:calc(60vw - 300px);opacity:.2}
}

@keyframes skill_dsc_ani {
 0%{
  transform: translateY(50px);;
  opacity: 0;
 }
 100%{
  transform: translateY(0px);;
  opacity: 1;
}
}

/* portfolio */

.portfolio{width:100%;height:80vh;position:absolute;top:50%;left:0;margin-left:29vw;transform:translateY(-50%);color:#fff;font-family:'NanumSqaure';display:none}

.portfolio_list{width:10000px;position:absolute;top:0;left:0}
.portfolio_cont{float:left;width:68vw;opacity:0;transition:opacity 1s ease}

.portfolio_cont.on,.portfolio_cont.ready{opacity:1}

.portfolio_list .portfolio_cont .cont_img{float:left;width:27vw;height:80vh;background-color:#fff;border-radius:3.4vw;box-shadow:-20px 20px 0px rgba(0, 0, 0, 0.8);transition:all 1s ease;transform:skewY(12deg) rotateY(30deg);margin-right:3vw;transition:all 2s ease}

.portfolio_list .portfolio_cont.on .cont_img{transform:skewY(0deg);box-shadow:0px 0px 10px rgb(0, 0, 0);background-color:transparent}

.portfolio_cont .cont_info{float:left;margin-top:6.9vw}
.cont_info h3{font-size:3.5vw;color:#fff;text-shadow:1px 1px 5px #000}

.tag_list{font-size:1.2vw;margin:2vw 0}
.tag_list li{display:inline-block;margin-right:0.6vw;padding:0.6vw 1.3vw;border-radius:3.4vw;box-shadow:1px 1px 3px #000;background-blend-mode:screen;background:url(../images/bg.jpg) no-repeat}

.cont_dsc{font-size:1.2vw;font-weight:500;line-height:2;opacity:.8}

.link_list{display:block;margin-top:2vw;font-size:1.3vw;color:#fff;height:3.4vw;line-height:3.4vw;font-weight:100;opacity:.6;text-align:center;background: rgb(226,0,98);background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgb(23, 0, 39)50%,rgba(0, 0, 0, 0) 100%);font-family:'Astronaut';transition:all 1s ease}
.link_list:hover{opacity:1;background: rgb(226,0,98);background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(206,1,122,1) 40%,rgba(157,5,183,1) 60%,rgba(0, 0, 0, 0) 100%)}


.portfolio_cont:nth-of-type(1) .cont_img{background:url(../images/gontran.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(2) .cont_img{background:url(../images/vibe.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(3) .cont_img{background:url(../images/hilton.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(4) .cont_img{background:url(../images/bike.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(5) .cont_img{background:url(../images/incheon.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(6) .cont_img{background:url(../images/sif.jpg) no-repeat top left / cover}
.portfolio_cont:nth-of-type(7) .cont_img{background:url(../images/icheon.jpg) no-repeat top left / cover}

.portfolio_list .portfolio_cont .cont_img{background-color:rgba(0, 0, 0, 0.568);background-blend-mode:multiply}

.portfolio_cont.on .cont_img:hover{background-position:bottom left}


/* tab */

@media all and (max-width:1024px){

  .header{width:100%;height:13vw;padding-top:0;background-color:rgba(51, 51, 51, 0.7)}
  .header:after{display:none}

  .gnb{text-align:center;line-height:13vw}
  .gnb a{display:inline-block;padding-left:0;margin-left:50px;padding-bottom:35px}
  .gnb a:first-child{margin-left:0}
  .gnb a:after{top:100%}
  .gnb a.on:after{width:100%}

  .profile{padding:0 10%;height:100%;padding-top:calc(13vw + 50px)}

  .notebook{float:none;width:48vh;margin:0 auto;height:45vh}
  
  .profile_cont{float:none;padding-right:0;text-align:center;width:70%;margin:0 auto}
  .name{font-size:8vw}
  .name_kr{font-size:4vw;margin-left:20px}
  .cont_list{margin-top:6vw}
  .cont_list li{display:inline-block;font-size:4vw;margin-bottom:5vw;padding-left:6vw;height:4vw;line-height:4vw}
  

  .skill{padding-left:0;height:calc(100% - 13vw);margin-top:7.5vw}
  .skill_list{padding-left:0}
  .skill_dsc{font-size:2.2vw}

  .skill_cont:nth-of-type(1) .skill_name:after{width:45vw}
  .skill_cont:nth-of-type(2) .skill_name:after{width:42vw}
  .skill_cont:nth-of-type(3) .skill_name:after{width:20vw}
  .skill_cont:nth-of-type(4) .skill_name:after{width:45vw}
  .skill_cont:nth-of-type(5) .skill_name:after{width:40vw}

  @keyframes skill_1 {
    0%{width:0;opacity:0}
    100%{width:45vw;opacity:.2}
  }
  
  @keyframes skill_2 {
    0%{width:0;opacity:0}
    100%{width:42vw;opacity:.2}
  }
  
  @keyframes skill_3 {
    0%{width:0;opacity:0}
    100%{width:20vw;opacity:.2}
  }
  
  @keyframes skill_4 {
    0%{width:0;opacity:0}
    100%{width:45vw;opacity:.2}
  }
  
  @keyframes skill_5 {
    0%{width:0;opacity:0}
    100%{width:40vw;opacity:.2}
  }


  .portfolio{height:calc(100% - 18vw);margin-left:0;margin-top:12vw}
  .portfolio_list{width:100%;overflow-y:scroll;height:100%}
  .portfolio_list::-webkit-scrollbar{background-color:transparent;width:0}
  .portfolio_cont{float:none;text-align:center;width:100%;opacity:1}

  .portfolio_list .portfolio_cont .cont_img{float:none;width:75vw;height:50vw;transform:none;margin-right:0;margin:0 auto;box-shadow:0px 0px 10px rgb(0, 0, 0);background-color:transparent}
  .portfolio_cont .cont_info{float:none;width:100vw;margin:30px auto 100px}

  .cont_info h3{font-size:5vw}
  .tag_list{font-size:2vw;margin:4vw 0}
  .tag_list li{padding:1vw 2vw}
  .cont_dsc{font-size:2.2vw;line-height:2.2}

  .link_list{font-size:2.5vw;height:6vw;line-height:6vw;width:70vw;margin:20px auto 0}

  .portfolio_cont .cont_img:hover{background-position:bottom left}

}


/* mob */

@media all and (max-width:768px){

  .header{height:70px}
  .gnb{line-height:70px}
  .gnb a{font-size:18px;padding-bottom:20px;margin-left:30px}

  .notebook{width:42vh}

  .portfolio{height:calc(100% -140px);margin-top:70px}
  .portfolio_cont .cont_info{margin:20px auto 50px}
  
}